﻿@model SowthworksApp.Models.SouthworksEvent

@{
    ViewBag.Title = "Create Southworks Event Auto";
}

<h2>Create Southworks Event automatically</h2>

@using (Html.BeginForm()) { 
    @Html.AntiForgeryToken()       
    <input type="submit" value="Create" />
}
   

<div>
    @Html.ActionLink("No, go back to Table", "Table")
</div>


