﻿@model SowthworksApp.Models.SouthworksEvent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Event</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartingDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Technology)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Technology)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RistrationLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RistrationLink)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Table")
    </p>
}
