﻿@model SowthworksApp.Models.SouthworksEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Event</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartingDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Technology)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Technology)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RistrationLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RistrationLink)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Table")
</p>
