﻿@model SowthworksApp.Models.SouthworksEvent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartingDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartingDate)
            @Html.ValidationMessageFor(model => model.StartingDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Technology)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Technology)
            @Html.ValidationMessageFor(model => model.Technology)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RistrationLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RistrationLink)
            @Html.ValidationMessageFor(model => model.RistrationLink)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Table")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
