﻿@model IEnumerable<SowthworksApp.Models.SouthworksEvent>

@{
    ViewBag.Title = "Southworks Events";
}

<script src="~/Scripts/Table/tableEvent.js"></script> 


<h2>Southworks Events</h2>
<p>Cache testing time = @DateTime.Now.ToString("T")</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="table_id" class="display">
    <thead>
        <tr>        
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RistrationLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RistrationLink)
            </td>
            <td>
                @Html.ActionLink("Edit Me", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>

@Html.ActionLink("Populate table with auto-generated events", "CreateSouthworksEventAuto")

